{% load static %}
<!DOCTYPE html>
<html>
    {% load pwa %}
    <link rel="manifiest" href="manifest.json">
    <head>
    {% progressive_web_app_meta %}
        <title> PWA</title>
    </head>
    <body>
        <h1>{{ user.username }}</h1>
        {% block content %}
        {% endblock %}

    </body>
    <script>
        window.addEventListener('beforeunload', function(){

            console.log("closing")
            event.preventDefault();
            event.returnValue = '';  
        })
    </script>
</html>